<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>All the News</title>
    {{!-- // let's just have jquery in there --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    {{{ body }}}
</body>
</html>
