body {
    text-align: center;
}

#navbar {
    width: 100%;
    border: 1px solid black;
    display: flex;
    position: relative;
    margin-bottom: 20px
}

.navtitle {
    width: 50%;
    text-align: center;
    float: left;
}

.navbutton {
    border: 1px solid black;
    background-color: beige;
    color: black;
    float: right;
    margin: 20px;
    font-size: 16pt;
    border-radius: 5px;
}

.highlight {
    border: 3px solid black
}

.articles {
    position: relative;
}

.news-item-card {
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 0 20px 40px;
}

.cardtitle {
    border-bottom: 1px solid black
}

.cardbutton {
    font-size: 12pt;
    margin: 0 20px;
    border-radius: 3px;
    background-color: beige
}

button:focus {outline:0;}